@page
@model ManagementPlus.Pages.Reports.IndexModel
@{
    ViewData["Title"] = "Reports";
}

<h1>Reports</h1>
<hr />

<ul>
    <li>
        <a asp-page="./DailyReport">Daily Report</a>
    </li>
</ul>